<!-- Defines TestNG test suite and parallel execution configuration. -->

<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="PetStore Suite" parallel="methods" thread-count="4">
    <test name="PetStore API Tests">
        <classes>
            <class name="tests.PetEndpointTests"/>
        </classes>
    </test>
</suite>
